




.App {
    background-color: white;
  }
  
  .Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #323133;
    
  }
  
  
  .Auth-form {
    
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 80px;
    
    border-radius: 30px;
    background-color: white;
    width: 600px;
    height: 599px;
  }
  
  .Logo {
     justify-content: center;
     margin-left: auto;
     margin-right: auto;
     display: block;
     margin-top: 0px;
     margin-bottom: 50px;
     padding-top: 0px;
     padding-bottom: 0px;   
    
    
  }
  
  .Auth-form-content {
    padding-left: 52px;
    padding-right: 52px;
    justify-content: center;
    
  }
  
  
  

.form-group-mt-4{
    justify-content: center;
}

.verification__field{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   gap: 0px;


}
.verification__input-verification__input{
  width: 60px;
  border-radius: 5px;
  border-width : 3px;
  font: normal normal medium 22px/26px Inter;
  font-weight: 0px;
  text-align: center;
  color: #7D869C;
  border: 1px solid #707070;
  
  
  
 }
 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
     /* display: none; <- Crashes Chrome on hover */
     -webkit-appearance: none;
     margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
 }
 
 input[type=number] {
     -moz-appearance:textfield; /* Firefox */
 }


.btn-btn-third {
    background: #7D869C;
    color: #fff;
    padding: 18px;
    border-radius: 6px;
    cursor: pointer;
    padding-bottom: 16px;
    display: flex;
    width: 257px;
    height: 60px;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    padding-left: 0%;  
    margin-left: 90px;
    border-style: solid;
    

}
button:disabled,
button[disabled]{

  background-color: #E3E6EF;
}


textarea:focus, input:focus{
  outline: none;
}



.links {
    margin-top: 15px;

    font: normal normal 600 12px/15px Inter;
    letter-spacing: 0px;
    color: #1A1A1A;
   
    
}

.a1 {
    
    padding-right: 160px;
    margin-bottom: 11px;
    text-decoration: none;
    float: right;
    font-weight: 500px;
}
.a2 {
    padding-right: 140px;
    text-decoration: none;
    float: right;
    font-weight: 500px;
}

