




.App {
    background-color: white;
  }
  
  .Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #323133;
    
  }
  
  
  .Auth-form {
    width: 540px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 80px;
    padding-bottom: 20px;
    border-radius: 30px;
    background-color: white;
    height: 630px;
    padding-bottom:200px ;
  }
  
  .Logo {
     justify-content: center;
     margin-left: auto;
     margin-right: auto;
     display: block;
     margin-top: 0px;
     margin-bottom: 50px;
     padding-top: 0px;
     padding-bottom: 0px;   
    
    
  }
  
  .Auth-form-content {
    padding-left: 52px;
    padding-right: 52px;
    justify-content: center;
    
  }
  
  
  


body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

button:disabled,
button[disabled]{
  border-style: solid;
  background-color: #E3E6EF;
}


.btn-btn-primary{
  width: 459px;
  height: 60px;
}