




.App {
  background-color: white;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #323133;
  
}


.Auth-form {
  width: 562px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 80px;
  padding-bottom: 20px;
  border-radius: 30px;
  background-color: white;
  height: 602px;
  padding-bottom:200px ;
}

.Logo {
   justify-content: center;
   margin-left: auto;
   margin-right: auto;
   display: block;
   margin-top: 0px;
   margin-bottom: 50px;
   padding-top: 0px;
   padding-bottom: 0px;   
  
  
}

.Auth-form-content {
  padding-left: 52px;
  padding-right: 52px;
  justify-content: center;
  
}




.env {
    padding-left: 6px;
    font-weight: 500;
  }

 
 
  
  .btn-btn-second {
    
        background: #7D869C;
        color: #fff;
        padding: 18px;
        border-radius: 5px;
        cursor: pointer;
        padding-bottom: 16px;
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 40px;
        width: 436px;
        height: 60px;        
        
        
      }
      
  

.para1{
    font-size: 13px;
}
